<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>音效.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FF7E0AD1D6DDA5B00780242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FF7E0C61D6DDA5B00780242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FF7E0D11D6DDA5B00780242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
